{% extends 'backoffice/base_backoffice.html.twig' %}

{% block title %}la personnage
{% endblock %}

{% block body %}

	<h1>le personnage :</h1>
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{character.firstname}}
					{{character.lastname}}</h5>
				<p>{{character.age}} ans</p>
				<p class="card-text">{{character.bio}}</p> 
				<a href="{{character.id}}/update" class="btn btn-primary">modifier</a>
			</div>
		</div>
	</div>
{% endblock %}
