{% extends 'base.html.twig' %}

{% block title %}Création d'un épisode
{% endblock %}

{% block body %}

	{{ form_start(episode_form) }}


	{{ form_row(episode_form.title) }}

	{{ form_row(episode_form.episodeNumber) }}
	{{ form_row(episode_form.season) }}
	{{ form_row(episode_form.createdAt) }}

	<button type="submit">Créer</button>

	{{ form_end(episode_form) }}

{% endblock %}
